


.after-Regis-Form{
	.ant-modal-content {
		top: 50px;
		width: 556px;
		.ant-modal-body {
			padding: 46px 53px 65px 53px;
			.title {
				color: cornflowerblue;
				font-size: 24px;
				font-weight: 600;
				letter-spacing: 0.01em;
				margin-bottom: 40px;
				text-align: center;
			}
			.text-1 {
				color: #666666;
				font-size: 16px;
				font-weight: 600;
				letter-spacing: 0.01em;
				text-align: center;
			}
			.text-2 {
				color: #999999;
				font-size: 14px;
				letter-spacing: 0.01em;
				margin-bottom: 19px;
				text-align: center;
			}
			
			.ant-btn,
			.ant-input-lg {
				height: 50px;
			}

			.ant-input-lg {
				border-radius: 3px;
				font-size: 18px;
			}

			.btn-innos{
				height: 50px;
				width: 450px;
			}

		}
	}
}