body{
  background-color: #FAFAFA;
}

.nav{
  transition: all 0.3s;
  z-index: 99;
  position: fixed;
  top: 0;
  height: 77px;
  width: 100vw;
  background-color: #FFFFFF;
  border-bottom: 1px #DBDBDB solid; 
  justify-content: center;
  align-items: center;
  display: flex;
  .container{
    background-color: #FFFFFF;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      content:url('../../assets/logo.png');
      height: 100%;
      max-width: 200px;
    }
    .notify{
      margin-right: 80px;
      height: 80%;
      width: 132px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon{
        font-size: 25px;
        :hover{
          cursor: pointer;
        }
      }
    }
  }
}

