
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
}


 .login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.form-login{
  height: fit-content;
  width: fit-content;
  background-color: #FFFFFF;
  border: 1px #EBEDF0 solid;
  border-radius: 20px;
  padding: 2em;
  .registerForm{
    width: 400px;
  }
  .btnRegister{
    float: right;
  }
  .btnBackLogin{
    float: left
  }
}