.content{
  height: fit-content;
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  
}

.wrapper{
  height: fit-content;
  width: 900px;
  display: flex;
  .posts{
    width: 70%;
    margin-right: 3em;
  }
  .infor{
    width: 30%;
  }
}